body {
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(233, 231, 255, 1) 0%,
        rgba(245, 245, 245, 1) 100%
      );
}

p {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}